<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      input {
        width: inherit;
        padding: 5px;
      }
      p {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <body style="display: flex; justify-content: center">
      <form
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 500px;
          height: auto;
        "
        action=""
        method="post"
      >
        {% csrf_token %} {{form.as_p}}
        <input type="submit" style="margin: auto" value="update" />
        <a href="{% url 'home' %}">Cancel</a>
      </form>
    </body>
  </body>
</html>
